# .NET
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.config
*.user
*.suo
*.nupkg
.project
.vs/
*.dbmdl

# Visual Studio Specific
.vscode/
.idea/
*.vspscc
_ReSharper*/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Express & Environment
.env

# Miscellaneous temporary files
*.tmp
*.log
.DS_Store
Thumbs.db